<!--<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Inbox</ion-title>
  </ion-navbar>

</ion-header>-->



<ion-content padding class="gymContent">
  <!-- <form [formGroup]="signUpForm" (ngSubmit)="saveUser(signUpForm.value)">-->
  <form [formGroup]="signUpForm">
    <div class="text-center padding-top-50 font-size-3">
      <h1>SIGN IN</h1>
      <!--<img src="../../assets/imgs/companyLogo.png" class="logo-space" />-->
      <div class="login-thum">
        <img src="/assets/imgs/20190415_123318_0001.png" width="100" height="100" />
      </div>

      <!-- <div class="login-thum">
      <img src="/assets/imgs/gym_logo.png" />
     
    </div> -->
    </div>
    <ion-grid>
      <ion-item>
        <ion-label color="gray" floating>MOBILE NUMBER
        </ion-label>
        <ion-input type="text"  inputmode="numeric" pattern="[0-9]*" decimal="false" style="color:#535353;" formControlName="username"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label color="gray" floating>MOBILE NUMBER</ion-label>
        <ion-input type="tel" style="color:#535353;" formControlName="username"></ion-input>
      </ion-item> -->
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.username">
            <ion-col col-12 class="error-message" *ngIf="signUpForm.get('username').hasError(validation.type) && (signUpForm.get('username').dirty || signUpForm.get('username').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <ion-grid>
      <ion-item>
        <ion-label color="gray" floating>PASSWORD
        </ion-label>
        <ion-input type="password" style="color:#535353" formControlName="password"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-col col-12 class="error-message" *ngIf="signUpForm.get('password').hasError(validation.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-grid>

    <div class="remember-me" style="background-color: transparent;">
      <ion-checkbox color="danger" formControlName="rememberMe" [checked]="isRememberMe"></ion-checkbox>
      <ion-label style="color: black; float: right;
      display: contents;">Remember me?</ion-label>
    </div>

    <div>
      <button class="buttonMargin cRadius" style="font-size: larger; color: white; background-color: #fc5e36; " ion-button large
        full (click)="saveUser(signUpForm.value)" [disabled]="!signUpForm.valid">LOG IN</button>
    </div>

    <div style="background-color: transparent;" text-center>
      <button class="forgot-password" (click)="forgotpassword(signUpForm.value)">Forgot password ?</button>
    </div>
   
  </form>
</ion-content>