page-login {
    .list-md .item-input:last-child {
        border-bottom: 0;
    }
    .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .item-md {
        background: transparent;
        padding-left: 0;
    }
    .item {
        background-color: #fff0;
    }
    .remember-me{
        color: white;
        background-color: transparent;
        font-size: 15px;
        float: left;
         margin-top: 20px;
        margin-bottom: 30px;
        padding-top: 20px;
    }
    
    .forgot-password {
        color: black;
        background-color: transparent;
        font-size: 15px;
        padding-top: 0px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: bold;
        //float: right;
        
    }
    .logo-space {
        margin: 20% 0 10% 70px;
    }   
    
    //Ipsita
    
    h1{
        font-size: 4rem;
    color: #686868;
    padding-top: 25px;
    padding-bottom: 105px;
      }
      .item-ios {
        padding-left: 0;
    }
.text-center{
    text-align: center;
}
.padding-top-50 {
    padding-top: 0px;
}
.checkbox-icon {
    top: 3px;
}
.font-size-3 h1 {
    font-size: 2rem!important;
    padding-bottom: 15px;
}    
.login-thum img {
    width: 100px;
    margin: 0 auto;
}
.header-login {
    font-size: 14px;
    color: white;
    padding: 5px 0;
}
.login-thum img {
    //border-radius: 50%;
}
ion-header {
    background: #fc5e36;
    color: #fff;
}
      
}
