<!-- <div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'">
     {{progress}}%
  </div>
</div> -->
<div class="progress-outer">
  <div class="progress-inner" [style.width]="whichProgress(progress) + '%'" [style.background-color]="degraded == null ? color : whichColor(progress)">
    <!-- {{whichProgress(progress)}}% -->
  </div>
</div>