page-workout-details {
    .workout-details-header{
        background-color: #1488ca;
        //color: white;
    
      }

      .segment-md .segment-button.segment-activated {
        border-color:white;
        color: white;
        opacity: 1;
    }

    .segment-md .segment-button {
     //border-color:white;
     color: white;
     opacity: 1;
 }

 table, th, td {
    border: 1px solid #037aff;
    text-align: center;
    color: black;
  }

  .button-md-light {
    color: #037aff;
    background-color: #f4f4f4;
}
.button-small-md {
  height: 2.1em;
  font-size: 1.3rem;
  padding: 0 0.9em;
  color: #037aff;
  background: white;
}

.workout-detail{
  background-color: #f6f6f6;
}
}
