page-top-picks-detail {
    
    .workout-header{
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: 1px solid #ededed !important;
        border-bottom: 1px solid #ededed !important;
    }

    .button-left{
        // left: -18px;
        // top: -6px;
        height: 2.1em;
        left: 0;
        top: 0;
        // color: white;
        // background-color: white;
        //position: fixed;
        float: left;
        background: transparent;
        box-shadow: none;
    }
    
    .button-right{
        // right: -18px;
        // top: -6px;
        height: 2.1em;
        float: right;
        right: 0;
        top: 0;
        background: transparent;
        box-shadow: none;
        //position: fixed;
    }

    .float-right {
        float: right;
        position: absolute;
    }
    .float-left {
        float: left;
        position: absolute;
    }

    .button-md-light, .button-ios-light {
        /* color: #000; */
        color: #ff5e3a;
        //background-color: #f4f4f4;
    }
    .icon-nutrition{
        //font-size: 20px;
        font-size: 28px;
    }
    .date-header{
        font-size: 15px;
    }

    .card-vertical{
        background: white;
        box-shadow: none;
        /* border-bottom: solid; */
        border-bottom: 1px solid #dcdcdf;
        padding-left: 0;
        padding-right: 0;
        }

}
