<!--
  Generated template for the TopPicksDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title text-center>CLUB WORKOUT PLAN</ion-title> -->
    <ion-title text-center style="font-size: 10px;">
      {{topPicks == undefined ? 'EXERCISE DETAILS': topPicks.workoutName | textLimit}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="workout-header">
    <hr>
    <!-- <ion-slides> -->
    <!-- <ion-slide (swipe)="swipeEvent($event)"> -->
    <div text-center class="date-header">
      {{selectedDate | date:'EEEE, d MMMM y'}}
    </div>
    <!-- </ion-slide> -->
    <!-- </ion-slides> -->
    <hr>
    <!-- <hr>
    <ion-row>
      <ion-col col-12 style="font-size: 16px; text-align: center;">
        <div text-center>
            <button size="large" class="button-left float-left" ion-button color="light" small icon-start
            (click)="previousButton(selectedDate)">
            <ion-icon class="icon-nutrition" name='ios-arrow-dropleft-circle'></ion-icon>
            </button>
            <div text-center class="date-header">
                {{selectedDate | date:'EEEE, d MMMM y'}}
            </div>
            <button size="large" class="button-right float-right" ion-button color="light" small icon-end
              (click)="nextButton(selectedDate)">
              <ion-icon class="icon-nutrition" name='ios-arrow-dropright-circle'></ion-icon>
            </button>
        </div>
      </ion-col>
    </ion-row>
    <hr> -->
  </ion-grid>

  <ion-card *ngFor="let exercise of clubWorkoutDetailsList" style="background: white" class="card-vertical"
    (click)="viewMoreInfoAboutClubExercise(exercise)">

    <ion-grid>
      <ion-row>
        <ion-col col-12 style="text-align: left; top: -5px; font-size: 20px;">{{exercise.exerciseName}}
          <h3 style="padding-top: 12px;">{{exercise.param1 == 'Not Applicable' ? '': exercise.param1}} {{exercise.param1Uom}} | {{exercise.param2 == 'Not Applicable' ? '': exercise.param2}}
            {{exercise.param2Uom}} | {{exercise.param3 == 'Not Applicable' ? '': exercise.param3}} {{exercise.param3Uom}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  <!-- 
      <ion-card *ngFor="let exercise of workouts" style="background: white" class="card-vertical">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img src="../../assets/icon/workout.png">
        </ion-col>
        <ion-col col-8 style="text-align: left; top: -5px; font-size: 26px;">{{exercise.name}}
          <h3 style="padding-top: 12px;">1kg/10x/1min</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card> -->


</ion-content>