page-logout {
    .mt-15{
        margin-top: 25px;
    }

    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
}
