<ion-header>
  <ion-navbar color="gymHeader">
    <ion-title text-center>FORGOT PASSWORD</ion-title>
  </ion-navbar>
</ion-header>


<!--<ion-content padding class="bg-image">-->
<ion-content padding color="gymContent">
  <form [formGroup]="forgotPasswordForm">

    <!--<ion-grid class="validation-errors" style="color:red">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.mobile">
            <ion-col col-12 class="error-message" *ngIf="forgotPasswordForm.get('mobile').hasError(validation.type) && (forgotPasswordForm.get('mobile').dirty || forgotPasswordForm.get('mobile').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>-->
    <ion-grid>
      <ion-item>
        <ion-label style="color:gray" floating>ENTER OTP</ion-label>
        <ion-input [disabled]="isSetPassword" type="text" color="gray" formControlName="otp" ></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.otp">
            <ion-col col-12 class="error-message"
              *ngIf="forgotPasswordForm.get('otp').hasError(validation.type) && (forgotPasswordForm.get('otp').dirty || forgotPasswordForm.get('otp').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>


      <button class="buttonMargin cRadius" style="font-size: larger; color: white; background: #ff5e3a; height: 45px"
        ion-button full [disabled]="isSetPassword" (click)="verifyOtp(forgotPasswordForm.value)">VALIDATE OTP</button>
    </ion-grid>

    <ion-grid *ngIf="isSetPassword">
      <ion-item>
        <ion-label style="color:gray" floating>NEW PASSWORD</ion-label>
        <ion-input type="password" color="gray" formControlName="password"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-col col-12 class="error-message" *ngIf="forgotPasswordForm.get('password').hasError(validation.type) && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label style="color:gray" floating>CONFIRM PASSWORD</ion-label>
        <ion-input type="password" color="gray" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.confirmPassword">
            <ion-col col-12 class="error-message" *ngIf="forgotPasswordForm.get('confirmPassword').hasError(validation.type) && (forgotPasswordForm.get('confirmPassword').dirty || forgotPasswordForm.get('confirmPassword').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>


      <button class="buttonMargin cRadius" style="font-size: larger; color: white; background-color:#ff5e3a; height: 45px"
        ion-button full (click)="setNewPassword(forgotPasswordForm.value)" [disabled]="!forgotPasswordForm.valid">UPDATE</button>


    </ion-grid>


  </form>

</ion-content>