<ion-header>

  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MY PROFILE</ion-title>
  </ion-navbar>

</ion-header>


<!--<ion-content padding class="bg-image">-->
<ion-content padding color="gymContent">
  <form [formGroup]="saveHealthInfo">
    <ion-list>
      <ion-grid>
        <ion-item class="list-header">
          My Health
        </ion-item>
      </ion-grid>
      <!--<ion-list-header class="list-header">
        My Health
      </ion-list-header>-->
      <ion-grid>
        <ion-item>
          <ion-label>Weight</ion-label>
          <ion-input type="text" formControlName="weight"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Hieght</ion-label>
          <ion-input type="text" formControlName="hieght"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Neck</ion-label>
          <ion-input type="text" formControlName="neck"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Shoulder</ion-label>
          <ion-input type="text" formControlName="shoulder"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Bust</ion-label>
          <ion-input type="text" formControlName="bust"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Chest</ion-label>
          <ion-input type="text" formControlName="chest"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Abdominal</ion-label>
          <ion-input type="text" formControlName="abdominal"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Hip</ion-label>
          <ion-input type="text" formControlName="hip"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Waist</ion-label>
          <ion-input type="text" formControlName="waist"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Left Bicep</ion-label>
          <ion-input type="text" formControlName="leftBicep"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Right Bicep</ion-label>
          <ion-input type="text" formControlName="rightBicep"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Left Tricep</ion-label>
          <ion-input type="text" formControlName="leftTricep"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Right Tricep</ion-label>
          <ion-input type="text" formControlName="rightTricep"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Left Arm</ion-label>
          <ion-input type="text" formControlName="leftArm"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Right Arm</ion-label>
          <ion-input type="text" formControlName="rightArm"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Left Thigh</ion-label>
          <ion-input type="text" formControlName="leftThigh"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Right Thigh</ion-label>
          <ion-input type="text" formControlName="rightThigh"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Left Calf</ion-label>
          <ion-input type="text" formControlName="leftCalf"></ion-input>
        </ion-item>
      </ion-grid>

      <ion-grid>
        <ion-item>
          <ion-label>Right Calf</ion-label>
          <ion-input type="text" formControlName="rightCalf"></ion-input>
        </ion-item>
      </ion-grid>
    </ion-list>
  </form>
  <button class="buttonMargin cRadius" ion-button full style="background-color:#00c0ef" (click)="saveHealthInfoEvent(saveHealthInfo.value)">Save</button>
</ion-content>