page-my-profile-tabs {
    .ion-ios-profile,.ion-md-profile,.ion-ios-profile-outline {
        // content: url('../../assets/icon/myProfieTabIcon/a-my\ profile.png');
        content: url('../../assets/icon/all_icons/profile.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }   
      .ion-ios-inbox,.ion-md-inbox,.ion-ios-inbox-outline {
        content: url('../../assets/icon/myProfieTabIcon/inbox-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-notification,.ion-md-notification,.ion-ios-notification-outline {
        content: url('../../assets/icon/myProfieTabIcon/notification-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-health,.ion-md-health,.ion-ios-health-outline {
        content: url('../../assets/icon/myProfieTabIcon/health-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-payments,.ion-md-payments, .ion-ios-payments-outline {
        //content: url('../../assets/icon/myProfieTabIcon/payments-icon.png');
        content: url('../../assets/icon/all_icons/wallet.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      
      .ion-ios-workout,.ion-md-workout, .ion-ios-workout-outline {
        //content: url('../../assets/icon/homeTabIcon/icon1.png');
        content: url('../../assets/icon/all_icons/home-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }   
      

    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
      margin-top: 4px;
      margin-bottom: 0;
      color: #ff5e3a;
  }
}
