<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gym Session/Classess</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-image">
  <div><h1 style="color:white; text-align: center;">Coming Soon...</h1></div>
</ion-content>
