<!--
  Generated template for the MoreInfoAboutClubExerciseNextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the MoreInfoAboutExerciseNextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="gymHeader">
      <ion-row>
        <ion-col col-12>
          <ion-title text-center style="font-size: 10px;">
            {{category == undefined ? 'EXERCISE DETAILS': category.exerciseName}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding color="gymContent">
    <ion-grid>
      <ion-row>
        <ion-col>
            <img [src]="exerciseImageUrl!= null ? exerciseImageUrl : defaultImageUrl" >
          <!-- <img src="../../assets/imgs/b0.jpg" /> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
       <ion-row class="p-0">
         <ion-col col-6>
           <p class="font-weight-bold">MUSCLE GROUP: </p>
           <p>{{this.dateWiseExerciseDetailObj.musclegroup}}</p>
         </ion-col>
         <ion-col col-6>
           <p class="font-weight-bold">EQUIPMENT:</p>
           <p>{{this.dateWiseExerciseDetailObj.equipmentName}}</p>
         </ion-col>
       </ion-row>
       <ion-row class="p-0">
         <ion-col col-6>
           <p class="font-weight-bold">DIFFICULTY:</p>
           <p>{{this.dateWiseExerciseDetailObj.level}}</p>
         </ion-col>
         <ion-col col-6>
           <p class="font-weight-bold">TYPE:</p>
           <p> {{this.dateWiseExerciseDetailObj.exerciseType}}</p>
         </ion-col>
       </ion-row>
     </ion-grid>
  
     <ion-grid class="py-10">
        <ion-row>
          <ion-col col-12>
            <h6 class="p-0 m-0 line-height-0 font-weight-bold">Detail</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            {{dateWiseExerciseDetailObj.particulars}}
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid class="py-10">
        <ion-row>
          <ion-col col-12>
            <h6 class="p-0 m-0 line-height-0 font-weight-bold">Guidlines</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="font-size:15px">
            {{dateWiseExerciseDetailObj.guideline}}
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-content>
