<ion-header>
	<!-- <ion-toolbar color="sideMenuHeader"> -->
	<ion-navbar color="gymHeader">
		<button ion-button menuToggle>
			<ion-icon name="navbar"></ion-icon>
		</button>
		<ion-title class="header-title" text-center>MY PROFILE</ion-title>
	</ion-navbar>
	<!-- </ion-toolbar> -->
</ion-header>

<ion-content padding color="gymContent">
<ion-grid>
			<ion-row>
				<ion-col>
					<div class="position-relative">
						<img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;"
							[src]="customerImageUrl!= null ? customerImageUrl : defaultImageUrl" width="84" height="84">
					
						<button class="add-btn-profile" ion-button clear color="dark" float-right (click)="getImage()">
							<ion-icon name="add"></ion-icon>
						</button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	<form [formGroup]="editMyProfilePage">
		<!--<ion-grid>
			<ion-row>
				<ion-col>
					<div class="position-relative">
						<img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;"
							[src]="customerImageUrl!= null ? customerImageUrl : defaultImageUrl" width="84" height="84">
					
						<button class="add-btn-profile" ion-button clear color="dark" float-right (click)="getImage()">
							<ion-icon name="add"></ion-icon>
						</button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>-->
		<ion-list class="profile-info">
			<ion-grid class="px-15">
				<ion-grid>
					<ion-row>
						<ion-col col-10>
							<ion-label color="dark">First Name</ion-label>
						</ion-col>
						<ion-col col-2>
							<ion-buttons end> <button clear ion-button small class="edit-button"
									(click)="editFirstName()">
									<ion-icon name="create"></ion-icon>
								</button>
							</ion-buttons>
						</ion-col>
					</ion-row>
					
					<ion-item>
						<ion-input type="text" style="color:#535353;" formControlName="firstNm"
							[readonly]="isReadOnlyFirstName"></ion-input>
					</ion-item>
				</ion-grid>
				<ion-grid class="validation-errors" style="color:#FF0000">
					<ion-row>
						<ng-container *ngFor="let validation of validation_messages.firstName">
							<ion-col col-12 class="error-message"
								*ngIf="editMyProfilePage.get('firstNm').hasError(validation.type) && (editMyProfilePage.get('firstNm').dirty || editMyProfilePage.get('firstNm').touched)">
								{{ validation.message }}
							</ion-col>
						</ng-container>
					</ion-row>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col col-10>
							<ion-label color="dark">Last Name</ion-label>
						</ion-col>
						<ion-col col-2>
							<ion-buttons end> <button clear ion-button small class="edit-button"
									(click)="editLastName()">
									<ion-icon name="create"></ion-icon>
								</button>
							</ion-buttons>
						</ion-col>
					</ion-row>
					<ion-item>
						<!-- <ion-label color="dark" floating>Last Name</ion-label> -->
						<ion-input type="text" style="color:#535353;" formControlName="lastNm"
							[readonly]="isReadOnlyLastName"></ion-input>
					</ion-item>
				</ion-grid>
				<ion-grid class="validation-errors" style="color:#FF0000">
					<ion-row>
						<ng-container *ngFor="let validation of validation_messages.lastNm">
							<ion-col col-12 class="error-message"
								*ngIf="editMyProfilePage.get('lastNm').hasError(validation.type) && (editMyProfilePage.get('lastNm').dirty || editMyProfilePage.get('lastNm').touched)">
								{{ validation.message }}
							</ion-col>
						</ng-container>
					</ion-row>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col col-10>
							<ion-label color="dark">Date of Birth</ion-label>
						</ion-col>
						<ion-col col-2>
							<ion-buttons end> <button clear ion-button small class="edit-button" (click)="editDOB()">
									<ion-icon name="create"></ion-icon>
								</button>
							</ion-buttons>
						</ion-col>
					</ion-row>
					<ion-item class="border-bottom-gray">
						<!-- <ion-label color="dark" floating>Date of Birth</ion-label> -->
						<ion-datetime [disabled]="isReadOnlyDOB" displayFormat="DD-MMM-YYYY"
							formControlName="dateOfBirth"></ion-datetime>
					</ion-item>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col col-10>
							<ion-label color="dark">Contact No</ion-label>
						</ion-col>
						<ion-col col-2>
							<ion-buttons end> <button clear ion-button small class="edit-button"
									(click)="editContactNumber()">
									<ion-icon name="create"></ion-icon>
								</button>
							</ion-buttons>
						</ion-col>
					</ion-row>
					<ion-item>
						<!-- <ion-label color="dark" floating>Contact No</ion-label> -->
						<ion-input type="text" inputmode="numeric" pattern="[0-9]*" decimal="false" formControlName="contactNo" [readonly]="isReadOnlyContactNumber">
						</ion-input>
						<!-- <ion-input type="number" #contactNo formControlName="contactNo" (change) = "getContactNo(contactNo.value)" ></ion-input> -->
					</ion-item>
				</ion-grid>
				<ion-grid class="validation-errors" style="color:#FF0000">
					<ion-row>
						<ng-container *ngFor="let validation of validation_messages.contactNo">
							<ion-col col-12 class="error-message"
								*ngIf="editMyProfilePage.get('contactNo').hasError(validation.type) && (editMyProfilePage.get('contactNo').dirty || editMyProfilePage.get('contactNo').touched)">
								{{ validation.message }}
							</ion-col>
						</ng-container>
					</ion-row>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col col-10>
							<ion-label color="dark">Email</ion-label>
						</ion-col>
						<ion-col col-2>
							<ion-buttons end> <button clear ion-button small class="edit-button" (click)="editEmail()">
									<ion-icon name="create"></ion-icon>
								</button>
							</ion-buttons>
						</ion-col>
					</ion-row>
					<ion-item>
						<!-- <ion-label color="dark" floating>Email</ion-label> -->
						<ion-input type="text" formControlName="emailId" [readonly]="isReadOnlyEmail"></ion-input>
					</ion-item>
				</ion-grid>
				<ion-grid class="validation-errors" style="color:#FF0000">
					<ion-row>
						<ng-container *ngFor="let validation of validation_messages.emailId">
							<ion-col col-12 class="error-message"
								*ngIf="editMyProfilePage.get('emailId').hasError(validation.type) && (editMyProfilePage.get('emailId').dirty || editMyProfilePage.get('emailId').touched)">
								{{ validation.message }}
							</ion-col>
						</ng-container>
					</ion-row>
				</ion-grid>

				<ion-grid class="font-size-16">
					<ion-item>
						<ion-label color="dark" floating>Customer Goal</ion-label>
						<ion-input type="text" formControlName="mstGoal" readonly></ion-input>
					</ion-item>
				</ion-grid>

				<ion-grid class="font-size-16">
					<ion-item>
						<ion-label color="dark" floating>Client Status </ion-label>
						<ion-input type="text" formControlName="customerStatus" readonly></ion-input>
					</ion-item>
				</ion-grid>

				<ion-grid class="font-size-16">
					<ion-item>
						<ion-label color="dark" floating>Gender</ion-label>
						<ion-select formControlName="gender">
							<ion-option value="Female">Female</ion-option>
							<ion-option value="Male">Male</ion-option>
						</ion-select>
					</ion-item>
				</ion-grid>
			</ion-grid>

			<ion-grid class="p-0 card-4">
				<ion-card>
					<ion-card-header
						[ngStyle]="{'background-color': addressAccordionExpanded ? '#FFE0B2' :  '#f4f4f4' }"
						(click)="toggleAddressAccordion()">
						Address Details

					</ion-card-header>
					<ion-card-content *ngIf="addressAccordionExpanded">
						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Address Line 1</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editAddressLine1()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Address Line 1</ion-label> -->
								<ion-input type="text" formControlName="addrLine1" [readonly]="isReadOnlyAddressLine1">
								</ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.addrLine1">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('addrLine1').hasError(validation.type) && (editMyProfilePage.get('addrLine1').dirty || editMyProfilePage.get('addrLine1').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>


						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Address Line 2</ion-label>
								</ion-col>
								<!-- <ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editAddressLine2()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col> -->
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Address Line 2 </ion-label> -->
								<ion-input type="text" formControlName="addrLine2" [readonly]="isReadOnlyAddressLine2">
								</ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="font-size-16">
							
							<ion-item>
								<ion-label color="dark" floating>City</ion-label>
								<ion-input type="text" formControlName="cityNm" readonly></ion-input>
								<!-- <ion-input type="text" formControlName="cityNm" [readonly]="isReadOnlyCity"></ion-input> -->
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.cityNm">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('cityNm').hasError(validation.type) && (editMyProfilePage.get('cityNm').dirty || editMyProfilePage.get('cityNm').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>

						<ion-grid class="font-size-16">
							<!-- <ion-row>
								<ion-col col-10>
									<ion-label color="dark">State</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editState()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row> -->
							<ion-item>
								<ion-label color="dark" floating>State </ion-label>
								<ion-input type="text" formControlName="stateNm" readonly>
								</ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.stateNm">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('stateNm').hasError(validation.type) && (editMyProfilePage.get('stateNm').dirty || editMyProfilePage.get('stateNm').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>

						<ion-grid class="font-size-16">
							<!-- <ion-row>
								<ion-col col-10>
									<ion-label color="dark">Pin Code</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editPinCode()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row> -->
							<ion-item>
								<ion-label color="dark" floating>Pin Code </ion-label>
								<ion-input type="text" formControlName="pinCode" readonly>
								</ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.pinCode">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('pinCode').hasError(validation.type) && (editMyProfilePage.get('pinCode').dirty || editMyProfilePage.get('pinCode').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>

						<ion-grid class="font-size-16">
							<!-- <ion-row>
								<ion-col col-10>
									<ion-label color="dark">Country</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editCountry()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row> -->
							<ion-item>
								<ion-label color="dark" floating>Country</ion-label>
								<ion-input type="text" formControlName="countryNm" readonly>
								</ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.countryNm">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('countryNm').hasError(validation.type) && (editMyProfilePage.get('countryNm').dirty || editMyProfilePage.get('countryNm').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>

					</ion-card-content>
				</ion-card>


				<ion-card>
					<ion-card-header
						[ngStyle]="{'background-color': otherInfoAccordionExpanded ? '#FFE0B2' :  '#f4f4f4' }"
						(click)="toggleOtherInfoAccordion()">
						Other Information
					</ion-card-header>
					<ion-card-content *ngIf="otherInfoAccordionExpanded">
						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Emergency Contact Name</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editEmergencyContactName()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Emergency Contact Name</ion-label> -->
								<ion-input type="text" formControlName="emergency_contact_name"
									[readonly]="isReadOnlyEmergencyContactName"></ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
							<ion-row>
								<ng-container *ngFor="let validation of validation_messages.emergency_contact_name">
									<ion-col col-12 class="error-message"
										*ngIf="editMyProfilePage.get('emergency_contact_name').hasError(validation.type) && (editMyProfilePage.get('emergency_contact_name').dirty || editMyProfilePage.get('emergency_contact_name').touched)">
										{{ validation.message }}
									</ion-col>
								</ng-container>
							</ion-row>
						</ion-grid>


						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Emergency Contact No</ion-label>
								</ion-col>
								<!-- <ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editEmergencyContactNo()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col> -->
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Emergency Contact No </ion-label> -->
								<ion-input type="text" inputmode="numeric" pattern="[0-9]*" decimal="false" formControlName="emergencyContactNo"
									[readonly]="isReadOnlyEmergencyContactNo"></ion-input>
							</ion-item>
						</ion-grid>
						<ion-grid class="validation-errors" style="color:#FF0000">
								<ion-row>
									<ng-container *ngFor="let validation of validation_messages.emergencyContactNo">
										<ion-col col-12 class="error-message"
											*ngIf="editMyProfilePage.get('emergencyContactNo').hasError(validation.type) && (editMyProfilePage.get('emergencyContactNo').dirty || editMyProfilePage.get('emergencyContactNo').touched)">
											{{ validation.message }}
										</ion-col>
									</ng-container>
								</ion-row>
							</ion-grid>


						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Intended hour in our gym</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editIntendedHourInGym()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Intended hour in our gym </ion-label> -->
								<ion-input type="text" inputmode="numeric" pattern="[0-9]*" decimal="false" formControlName="hoursInGym"
									[readonly]="isReadOnlyIntendedHourInGym"></ion-input>
							</ion-item>
						</ion-grid>

						<ion-grid class="font-size-16">
							<ion-item>
								<ion-label color="dark" floating>Customer Health Condition</ion-label>
								<ion-select formControlName="customerHealthCondition" (ionChange)="selectedCustomerhealthCond()">
									<ion-option value="1">None</ion-option>
									<ion-option value="2">Diabetes</ion-option>
									<ion-option value="3">Thyroid</ion-option>
									<ion-option value="4">PCOS</ion-option>
									<ion-option value="5">Cholesterol</ion-option>
									<ion-option value="6">Physical injury</ion-option>
									<ion-option value="7">Hyper tension</ion-option>
									<ion-option value="10">Others</ion-option>
								</ion-select>
							</ion-item>
						</ion-grid>

						<!-- <ion-grid>
							<ion-item class="border-bottom-gray">
								<ion-label color="dark" floating>Customer Health Condition</ion-label>
								<ion-select cancelText="Cancel" okText="Ok" [(ngModel)]="healthCond"
									[compareWith]="compareHealthCond" formControlName="customerHealthCondition"
									(ionChange)="selectedCustomerhealthCond(healthCond)">
									<ion-option *ngFor="let healthCond of customerHealthConditionList"
										[value]="healthCond">{{healthCond.name}}</ion-option>
								</ion-select>
							</ion-item>
						</ion-grid> -->

						<ion-grid *ngIf="isShownCustomerHealthConditionDeatailField">
							<ion-row *ngIf="isEditableCustomerHealthConditionDeatail">
								<ion-col col-10>
									<ion-label color="dark">Customer Health Condition Details</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editCustomerHealthConditionDetails()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row>
							<ion-item *ngIf="isEditableCustomerHealthConditionDeatail">
								<!-- <ion-label color="dark" floating>Customer Health Condition Details</ion-label> -->
								<ion-textarea rows="2" maxLength="50" formControlName="customerHealthRemarks"
									[readonly]="isReadOnlyCustomerHealthConditionDetails">
								</ion-textarea>
							</ion-item>

							<ion-item *ngIf="!isEditableCustomerHealthConditionDeatail">
								<ion-label color="dark" floating>Customer Health Condition Details</ion-label>
								<ion-textarea rows="2" maxLength="50" formControlName="customerHealthRemarks">
								</ion-textarea>
							</ion-item>
							<!-- <ion-grid class="validation-errors" style="color:#FF0000">
								<ion-row>
									<ng-container *ngFor="let validation of validation_messages.customerHealthRemarks">
										<ion-col col-12 class="error-message"
											*ngIf="editMyProfilePage.get('customerHealthRemarks').hasError(validation.type) && (editMyProfilePage.get('customerHealthRemarks').dirty || editMyProfilePage.get('customerHealthRemarks').touched)">
											{{ validation.message }}
										</ion-col>
									</ng-container>
								</ion-row>
							</ion-grid> -->
						</ion-grid>

						<ion-grid>
							<ion-row>
								<ion-col col-10>
									<ion-label color="dark">Important Note</ion-label>
								</ion-col>
								<ion-col col-2>
									<ion-buttons end> <button clear ion-button small class="edit-button"
											(click)="editImportantNote()">
											<ion-icon name="create"></ion-icon>
										</button>
									</ion-buttons>
								</ion-col>
							</ion-row>
							<ion-item>
								<!-- <ion-label color="dark" floating>Important Note</ion-label> -->
								<ion-textarea rows="2" maxLength="50" formControlName="remarks"
									[readonly]="isReadOnlyImportantNote"></ion-textarea>
							</ion-item>
						</ion-grid>



					</ion-card-content>
				</ion-card>


				<ion-card>
					<ion-card-header
						[ngStyle]="{'background-color': trainerInfoAccordionExpanded ? '#FFE0B2' :  '#f4f4f4' }"
						(click)="toggleTrainerInfoAccordion()">
						Trainer Information
					</ion-card-header>
					<ion-card-content *ngIf="trainerInfoAccordionExpanded">
						<ion-grid class="font-size-16">
							<ion-item>
								<ion-label color="dark" floating>Trainer Name</ion-label>
								<ion-input type="text" formControlName="trainerName" readonly></ion-input>
							</ion-item>
						</ion-grid>

					</ion-card-content>
				</ion-card>

				<ion-card>
					<ion-card-header
						[ngStyle]="{'background-color': packageInfoAccordionExpanded ? '#FFE0B2' :  '#f4f4f4' }"
						(click)="togglePackageInfoAccordion()">
						Package/Product Details
					</ion-card-header>
					<ion-card-content *ngIf="packageInfoAccordionExpanded">
						<table class="table table-bordered mt-15 table-striped">
							<thead>
								<tr>
									<th>Package/Product Name</th>
									<th>Start date</th>
									<th>End Date</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let subscription of subscriptionListToView">
									<td>{{subscription.mstService.serviceName}}</td>
									<td>{{subscription.startDate == '' ? '-' : subscription.startDate | date:'dd-MM-y'}}</td>
									<td>{{subscription.endDate == '' ? '-' : subscription.endDate | date:'dd-MM-y'}} </td>
								</tr>
							</tbody>
						</table>

					</ion-card-content>
				</ion-card>
			</ion-grid>

		</ion-list>
		<ion-grid class="px-15">
			<button class="buttonMargin cRadius btn mt-0" ion-button full style="background-color:#ff5e3a"
			[disabled]="!editMyProfilePage.valid || isDisabledSaveButton" (click)="editMyProfilePageEvent(editMyProfilePage.value)">SAVE</button>
		</ion-grid>


	</form>
</ion-content>