<!--
  Generated template for the MembershipPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title text-center>PACKAGES</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>
    <button class="custom-nav-icon" ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>SERVICES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="p-0">
    <div>
      <ion-segment [(ngModel)]="selectedSegment" color="danger" >
        <ion-segment-button value="0" (click)="selectTab(0)">
          Product
        </ion-segment-button>
        <ion-segment-button value="1" (click)="selectTab(1)">
          Package
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-slides #swipedTabsSlider (ionSlideWillChange)="moveButton($event)">
      <ion-slide>
        <ion-list >
          <ion-card class="membership-plan" *ngFor="let plan of PackageDetailList">
            <ion-card-content>
              <ion-card-title style="font-size: 20px; color: black; font-weight: bold">
                {{plan.serviceName}}
              </ion-card-title>
              <p style="color:gray;">
                {{plan.serviceDesc}}
              </p>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col col-4>
                <ion-icon name="ios-alarm-outline"></ion-icon> {{plan.serviceDuration}}
              </ion-col>
              <ion-col col-8>
                <p text-right>
                  <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;">₹ {{plan.serviceCost}}</span>
                  <!-- <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px" [hidden]= "plan.isDiscountValueZero">₹ {{plan.serviceCostAfterDiscount}}</span>
                               <span style="font-size: 22px; color: gray; padding-left: 0px; text-decoration: line-through;" [hidden]= "plan.isDiscountValueZero">₹ {{plan.serviceCost}}</span>
                               <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;" [hidden]= "!plan.isDiscountValueZero">₹ {{plan.serviceCost}}</span> -->
                </p>
              </ion-col>
            </ion-row>
            <ion-row no-padding>
              <ion-col text-left>
                <button ion-button small color="danger" (click)="goToPaymentPage(plan)">
                  BUY NOW
                </button>
              </ion-col>
              <!-- <ion-col text-right [hidden]= "plan.isDiscountValueZero">
                             <span style="font-size: 16px; color: #ff5e3a">(Discount: ₹ {{plan.maxDiscount}})</span>
                            </ion-col> -->
            </ion-row>
          </ion-card>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list >
          <ion-card class="membership-plan" *ngFor="let plan of PackageDetailList" >
            <ion-card-content>
              <ion-card-title style="font-size: 20px; color: black; font-weight: bold">
                {{plan.serviceName}}
              </ion-card-title>
              <p style="color:gray;">
                {{plan.serviceDesc}}
              </p>
            </ion-card-content>
            <ion-row no-padding>
              <ion-col col-4>
                <ion-icon name="ios-alarm-outline"></ion-icon> {{plan.serviceDuration}}
              </ion-col>
              <ion-col col-8>
                <p text-right>
                  <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;">₹ {{plan.serviceCost}}</span>
                  <!-- <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px" [hidden]= "plan.isDiscountValueZero">₹ {{plan.serviceCostAfterDiscount}}</span>
                                 <span style="font-size: 22px; color: gray; padding-left: 0px; text-decoration: line-through;" [hidden]= "plan.isDiscountValueZero">₹ {{plan.serviceCost}}</span>
                                 <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;" [hidden]= "!plan.isDiscountValueZero">₹ {{plan.serviceCost}}</span> -->
                </p>
              </ion-col>
            </ion-row>
            <ion-row no-padding>
              <ion-col text-left>
                <button ion-button small color="danger" (click)="goToPaymentPage(plan)">
                  BUY NOW
                </button>
              </ion-col>
              <!-- <ion-col text-right [hidden]= "plan.isDiscountValueZero">
                               <span style="font-size: 16px; color: #ff5e3a">(Discount: ₹ {{plan.maxDiscount}})</span>
                              </ion-col> -->
            </ion-row>
          </ion-card>
        </ion-list>
      </ion-slide>
    </ion-slides>

    <!-- <div [ngSwitch]="selectedSegment" class="workout-box">
      <ion-list *ngSwitchCase="'product'" class="card-background-page">

        <ion-list class="profile-info assessment-info">
          <ion-grid class="px-15">
            <ion-card *ngFor="let plan of PackageDetailList" class="membership-plan">
              <ion-card-content>
                <ion-card-title style="font-size: 20px; color: black; font-weight: bold">
                  {{plan.serviceName}}
                </ion-card-title>
                <p style="color:gray;">
                  {{plan.serviceDesc}}
                </p>
              </ion-card-content>
              <ion-row no-padding>
                <ion-col col-4>
                  <ion-icon name="ios-alarm-outline"></ion-icon> {{plan.serviceDuration}}
                </ion-col>
                <ion-col col-8>
                  <p text-right>
                    <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;">₹ {{plan.serviceCost}}</span>
                   
                  </p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col text-left>
                  <button ion-button small color="danger" (click)="goToPaymentPage(plan)">
                    BUY NOW
                  </button>
                </ion-col>
              
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'package'" class="card-background-page">

        <ion-list class="profile-info assessment-info">
          <ion-grid class="px-15">
            <ion-card *ngFor="let plan of PackageDetailList" class="membership-plan">
              <ion-card-content>
                <ion-card-title style="font-size: 20px; color: black; font-weight: bold">
                  {{plan.serviceName}}
                </ion-card-title>
                <p style="color:gray;">
                  {{plan.serviceDesc}}
                </p>
              </ion-card-content>
              <ion-row no-padding>
                <ion-col col-4>
                  <ion-icon name="ios-alarm-outline"></ion-icon> {{plan.serviceDuration}}
                </ion-col>
                <ion-col col-8>
                  <p text-right>
                    <span style="font-size: 22px; color: #ff5e3a; padding-left: 0px;">₹ {{plan.serviceCost}}</span>
                    
                  </p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                <ion-col text-left>
                  <button ion-button small color="danger" (click)="goToPaymentPage(plan)">
                    BUY NOW
                  </button>
                </ion-col>
               
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-list>
      </ion-list>
    </div> -->
  </ion-grid>

</ion-content>