<ion-tabs color="gymHeader">  
  <ion-tab [root]="myWorkoutPlanTodayPage" tabIcon="menu_workouts" tabTitle="My workout"></ion-tab>
  <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" ></ion-tab>  
  <ion-tab [root]="myProgressPage" tabIcon="menu_progress" tabTitle="Progress"></ion-tab>
</ion-tabs>