page-my-workout-plan-today-tabs {
      
      .ion-ios-workout,.ion-md-workout, .ion-ios-workout-outline {
        //content: url('../../assets/icon/homeTabIcon/icon1.png');
        content: url('../../assets/icon/all_icons/home-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }   

    .ion-ios-menu_workouts,.ion-md-menu_workouts, .ion-ios-menu_workouts-outline{
        // content: url('../assets/icon/menuIcon/e-Today\'s\ workout.png');
        content: url('../assets/icon/all_icons/workout-icon.png');
         width: 32px;
         height: 32px;
         padding: 6px 4px 2px;
         opacity: 1.0;
     }  



    .ion-ios-menu_progress,.ion-md-menu_progress, .ion-ios-menu_progress-outline {
      // content: url('../assets/icon/menuIcon/d-track\ progress.png');
      //content: url('../assets/icon/all_icons/progress-icon.png');
      content: url('../assets/icon/all_icons/graph-icon.png');
      width: 32px;
      height: 32px;
      padding: 6px 4px 2px;
      opacity: 1.0;
  }
      

    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
      margin-top: 4px;
      margin-bottom: 0;
      color: #ff5e3a;
  }
}
