<ion-header>
  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>MY CALENDAR</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding color="gymContent">

  <ion-grid class="border-y p-o m-17">
    <ion-row>
      <ion-col col-6 class="border-r">
        <p class="font-20 color-gray font-roman" align="center">Your goal</p>
        <h3 class="font-black color-535353" align="center">{{customerGoal}}</h3>
      </ion-col>
      <ion-col col-6>
        <p class="font-20 color-gray font-roman" align="center">Your performance for the day</p>
        <div class="text-center-80" >
            <circle-progress [percent]="performancePrecentage" [radius]="40" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
              [space]="-5" [outerStrokeColor]="'#ff5e3a'" [innerStrokeColor]="'#ccc'" [animation]="true"
              [animationDuration]="300" [showSubtitle]="false" [showInnerStroke]="true" [renderOnClick] = "true" [lazy]="false">
            </circle-progress>
            <span style="font-size: 7px;">{{performanceName}}</span>
          </div>
         
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid class="border-bottom p-o">
    <ion-row>
      <ion-col col-6 class="border-r">
        <h3 class="font-black color-535353" align="center">Workout <br>goal</h3>
      </ion-col>
      <ion-col col-6>
        <div class="text-center-80">
          <circle-progress [percent]="performancePrecentage" [radius]="40" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
            [space]="-5" [outerStrokeColor]="'#ff5e3a'" [innerStrokeColor]="'#ccc'" [animation]="true"
            [animationDuration]="300" [showSubtitle]="false" [showInnerStroke]="true">
          </circle-progress>
          <span style="font-size: 7px;">{{performanceName}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="divCalendar">
    <ion-calendar #calendar lang="en" [events]="currentEvents" (onDaySelect)="onDaySelect($event)"></ion-calendar>
  </div>
  <div>
    <span style="color: red"> </span>
    <!--<span style="color: #ff5e3a; text-align: right">Fixed holiday: {{holiday}}</span>-->
  </div>

  <div class="divButton" padding>
    <button class="buttonMargin cRadius btn mt-0" ion-button full style="background-color:#ff5e3a"
      (click)="goToMyWorkoutsEvent()" [disabled]="isDisableWorkoutPlan">MY WORKOUT PLAN</button>
  </div>

  <div class="divButton" padding>
    <button class="buttonMargin cRadius btn mt-0" ion-button full style="background-color:#3b5998"
      (click)="goToMyNutritionPlan()" [disabled]="isDisableMealPlan">MY MEAL PLAN</button>
  </div>

  <!-- <div class="divButton" padding>
    <button class="buttonMargin cRadius btn mt-0" ion-button full style="background-color:#999999" (click)="goToScheduleMeeting()">SCHEDULE MEETING</button>
  </div> -->

  <!-- <div class="divCalendar" padding>
    <table>
      <tr>
        <td><h5 align="center"><b>Scheduled Meeting with the Trainer</b></h5></td>
      </tr>
      <tr>
        <td><h6  align="center"><b>27-Feb-2019 05:00PM</b></h6></td>
      </tr>
    </table>
  </div> -->


</ion-content>