<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gymHeader">
      <button ion-button menuToggle>
          <ion-icon name="navbar"></ion-icon>
      </button>
      <ion-title text-center>HELP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid >
        <ion-row class="notification-list" *ngFor="let ques of  faq">
            <ion-col col-12 style="font-size:20px;">
                {{ques.question}}
            </ion-col>
           
            <ion-col col-12 style="font-size: 15px;">
                    {{ques.description}}
            </ion-col>
        </ion-row>
       
    </ion-grid>

</ion-content>
