<!--
  Generated template for the MembershipPlanTabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs color="gymHeader">
  <!--<ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" [rootParams]="todaySWorkoutParams"></ion-tab>-->
  <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="trackProgressRoot" tabIcon="progress" tabTitle="Progress"></ion-tab>
  <ion-tab [root]="myCalenderPage" tabIcon="calendar" tabTitle="Calendar"></ion-tab>
</ion-tabs>
