<ion-tabs color="gymHeader">
  <!-- <ion-tab [root]="profileRoot" tabTitle="Profile" tabIcon="profile"></ion-tab>
  <ion-tab [root]="inboxRoot" tabTitle="Inbox" tabIcon="inbox"></ion-tab>
  <ion-tab [root]="notificationsRoot" tabTitle="Notifications" tabIcon="notification"></ion-tab>
  <ion-tab [root]="healthInfoRoot" tabTitle="Health Info" tabIcon="health"></ion-tab>
  <ion-tab [root]="paymentsDuesRoot" tabTitle="Payments and Dues" tabIcon="payments"></ion-tab> -->

  
  <ion-tab [root]="progressRoot" tabIcon="menu_progress" tabTitle="Progress"></ion-tab>
  <ion-tab [root]="todaySWorkoutPage" tabIcon="menu_home" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="myCalendersRoot" tabIcon="menu_calendar" tabTitle="Calendar"></ion-tab>
  <!-- <ion-tab [root]="notificationsRoot" tabIcon="notification"></ion-tab> -->
  
  <!-- <ion-tab [root]="paymentsDuesRoot" tabIcon="payments" tabTitle="Calendar"></ion-tab> -->
</ion-tabs>