page-meal-plan-today-tabs {
  .ion-ios-menu_nutrition,.ion-md-menu_nutrition,.ion-ios-menu_nutrition-outline {
    //content: url('../assets/icon/menuIcon/f-view-nutrition-plan.png');
    content: url('../assets/icon/all_icons/diet-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-workout,.ion-md-workout, .ion-ios-workout-outline {
  //content: url('../../assets/icon/homeTabIcon/icon1.png');
  content: url('../../assets/icon/all_icons/home-icon.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}  
.ion-ios-menu_progress,.ion-md-menu_progress, .ion-ios-menu_progress-outline {
  // content: url('../assets/icon/menuIcon/d-track\ progress.png');
  //content: url('../assets/icon/all_icons/progress-icon.png');
  content: url('../assets/icon/all_icons/graph-icon.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 1.0;
}

    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
      margin-top: 4px;
      margin-bottom: 0;
      color: #ff5e3a;
  }
}
