<ion-tabs color="gymHeader">
  <ion-tab [root]="mealPlanForCurrentDatePage" tabIcon="menu_nutrition" tabTitle="Meal Plan"></ion-tab>
  <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" ></ion-tab> 
  <ion-tab [root]="myProgressPage" tabIcon="menu_progress" tabTitle="Progress"></ion-tab>
</ion-tabs>
