<!--
  Generated template for the ClubWorkoutDescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title text-center style="font-size: 10px;">
      {{topPicks == undefined ? 'EXERCISE DETAILS': topPicks.workoutName}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p class="club-workout-description">
    {{topPicks.workoutDesc}}
  </p>
</ion-content>