<!--
  Generated template for the ViewPastDuesAndPaymentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PAYMENTS & DUES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding color="gymContent">
    <ion-grid>
        <ion-item class="payment-header">
            Last Payments 
        </ion-item>
      </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div><b>Amount</b></div>
        </ion-col>
        <ion-col>
          <div><b>Payment Date</b></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="pay-dues" *ngFor="let payDtl of paymentDetails">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>₹  {{payDtl.amount}}</div>
            </ion-col>
            <ion-col>
              <div>{{payDtl.paymentDate}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>