<ion-header>

  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>PAYMENT HISTORY</ion-title>
  </ion-navbar>

</ion-header>

<!--<ion-content padding class="bg-image">-->
<ion-content padding color="gymContent">

  <ion-grid class="p-0">

    <ion-list class="card-background-page">

      <ion-grid class="payment-grid" *ngFor="let paid of testMultipleList">
        <ion-row *ngFor= "let p of paid; let i= index">
          <ion-col col-12 *ngIf= "i===0">
            <p><span style="font-weight: bold; font-size: 17px; color: black;">Invoice No.:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;">
                {{p.invoiceId}}</span> </p>
            <p><span style="font-weight: bold; font-size: 17px;">Invoice Date:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;">
                {{p.invoiceDate}}</span> </p>
                <p><span style="font-weight: bold; font-size: 17px;">Invoice Amount:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;">
                ₹  {{p.netAmount}}</span> </p>
          </ion-col>
        </ion-row>

     
       <table >
          <thead>
            <tr >
              <th>Name</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
              <!--<th>Amount</th>-->
            </tr>
          </thead>
          <tbody >
            <tr *ngFor= "let p1 of paid" >
              <td>{{p1.serviceName}}</td>
              <td>{{p1.serviceDesc}}</td>
              <td>{{p1.start_date == '' ? '-' : p1.start_date | date:'dd-MM-y'}}</td>
              <td>{{p1.end_date == '' ? '-' : p1.end_date | date:'dd-MM-y'}} </td>
              <!-- <td>{{paid.start_date}}</td>
                      <td>{{paid.end_date}}</td> -->
              <!--<td>₹ {{paid.netAmount}}</td>-->
              
            </tr>
          </tbody>

        </table>
      
       

      </ion-grid>
    </ion-list>

    <!--<ion-list class="card-background-page" *ngIf="isSingleListPresent">

      <ion-grid class="payment-grid" *ngFor="let paid of paidDetailas">
        <ion-row>
          <ion-col col-12>
            <p><span style="font-weight: bold; font-size: 17px; color: black;">Invoice No.:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;"> {{paid.invoiceId}}</span> </p>
            <p><span style="font-weight: bold; font-size: 17px;">Invoice Date:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;"> {{paid.invoiceDate}}</span> </p>
                <p><span style="font-weight: bold; font-size: 17px;">Invoice Amount:</span> <span
                style="font-weight: bold; font-size: 15px; color: #535353;"> {{paid.netAmount}}</span> </p>
          </ion-col>
        </ion-row>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
        
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{paid.serviceName}}</td>
              <td>{{paid.serviceDesc}}</td>
              <td>{{paid.start_date == '' ? '-' : paid.start_date | date:'dd-MM-y'}}</td>
              <td>{{paid.end_date == '' ? '-' : paid.end_date | date:'dd-MM-y'}} </td>
             
             
            </tr>
          </tbody>

        </table>

      </ion-grid>
    </ion-list>-->
  </ion-grid>


</ion-content>