// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bg-image {
    //background-image: url('../assets/imgs/background.png');
    background-color: #3b393e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-transparent {
	background: linear-gradient(to bottom, rgba(67,103,163,0.8) 0%,rgba(77,194,116,0.8) 100%);
	width: 100%;	
	height: 100vh;
}
.buttonMargin{
    margin-top: 20px;
    font-weight: bold;
}
.cRadius {
    border-radius: 8px;
}

//----------MENU ICON---------//
.ion-ios-menu_profile,.ion-md-menu_profile {
    // content: url('../assets/icon/menuIcon/a-my\ profile.png');
    content: url('../../assets/icon/all_icons/profile.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_inbox,.ion-md-menu_inbox {
    //content: url('../assets/icon/myProfieTabIcon/inbox-icon.png');
    content: url('../assets/icon/menuIcon/download.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
  }
.ion-ios-menu_home,.ion-md-menu_home {
    //content: url('../assets/icon/menuIcon/b-home.png');
    content: url('../assets/icon/all_icons/home-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_calendar,.ion-md-menu_calendar {
    // content: url('../assets/icon/menuIcon/c-my\ calendar.png');
    content: url('../assets/icon/all_icons/calenda.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_progress,.ion-md-menu_progress {
    // content: url('../assets/icon/menuIcon/d-track\ progress.png');
    //content: url('../assets/icon/all_icons/progress-icon.png');
    content: url('../assets/icon/all_icons/graph-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_workouts,.ion-md-menu_workouts {
   // content: url('../assets/icon/menuIcon/e-Today\'s\ workout.png');
   content: url('../assets/icon/all_icons/workout-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_nutrition,.ion-md-menu_nutrition {
    //content: url('../assets/icon/menuIcon/f-view-nutrition-plan.png');
    content: url('../assets/icon/all_icons/diet-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_club,.ion-md-menu_club {
    //content: url('../assets/icon/menuIcon/g-club\ workouts.png');
    content: url('../assets/icon/all_icons/clubworkout-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}

.ion-ios-menu_membership,.ion-md-menu_membership {
    //content: url('../assets/icon/menuIcon/g-club\ workouts.png');
    content: url('../assets/icon/all_icons/plan-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}

.ion-ios-menu_help,.ion-md-menu_help {
    //content: url('../assets/icon/menuIcon/g-club\ workouts.png');
    content: url('../assets/icon/all_icons/help-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}

.ion-ios-menu_classes,.ion-md-menu_classes {
    content: url('../assets/icon/menuIcon/session-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_mygym,.ion-md-menu_mygym {
    content: url('../assets/icon/menuIcon/h-my\ gym.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_account,.ion-md-menu_account {
    content: url('../assets/icon/menuIcon/i-settings.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_about,.ion-md-menu_about {
    content: url('../assets/icon/menuIcon/about-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}
.ion-ios-menu_logout,.ion-md-menu_logout {
    // content: url('../assets/icon/menuIcon/k-log-out.png');
    content: url('../assets/icon/all_icons/logout-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}

.ion-ios-menu_changePassword,.ion-md-menu_changePassword {
    // content: url('../assets/icon/menuIcon/k-log-out.png');
    content: url('../assets/icon/all_icons/password-icon.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
}

.ion-ios-payments,.ion-md-payments, .ion-ios-payments-outline {
    //content: url('../../assets/icon/myProfieTabIcon/payments-icon.png');
    content: url('../../assets/icon/all_icons/wallet.png');
    width: 32px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 1.0;
  }


.divProfile{
    padding-bottom: 5px;
    text-align: center;
    .h4{
        color: white;
        padding-bottom: 3px;
    }
}

.bottom-right{
    position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.toolbar-title, .toolbar-title-md{
font-family: myFirstFont!important;
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url(../assets/font/AvenirLTStd-Medium.ttf);
  }

  @font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url(../assets/font/AvenirLTStd-Roman.ttf);
  }

  @font-face {
    font-family: 'AvenirLTStd-Black';
    src: url(../assets/font/AvenirLTStd-Black.ttf);
  }

  .content{
    font-family: 'AvenirLTStd-Medium'!important;
  }
/*Css button radius*/
  .cRadius {
    border-radius: 50px;
}

/*Css update for header*/
.toolbar-title {
    padding: 10px 0;
    font-family: 'AvenirLTStd-Medium'!important;
}

/**/
.home-profile {
    font-family: 'AvenirLTStd-Roman';
    color: gray;
}
.border-y {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.font-20 {
    font-size: 18px;
}
.color-gray {
    color: gray;
}
.font-roman {
    font-family: 'AvenirLTStd-Roman';
}
.font-black {
    font-family: 'AvenirLTStd-Black';
}
.color-535353 {
    color: #535353;
}
.border-r {
    border-right: 1px solid #ccc;
}
.p-o {
    padding: 0;
}
.text-center-80 {
    width: 95px;
    margin: 0 auto;
    height: 75px;
}
.text-center-80 svg {
    height: 75px;
}
.color-535353 {
    color: #535353;
}
h3.font-black.color-535353 {
    font-size: 2rem!important;
    margin-top: 20px;
}
.workout-box .card {
    padding-left: 0;
    padding-right: 0;
    margin: 10px 0;
    width: 100%;
}
.workout-box .card.card-md {
    padding-left: 0;
    padding-right: 0;
    margin: 10px 0;
    width: 100%;
}
.top-0.col {
    top: 0;
    font-family: 'AvenirLTStd-Black';
}
span.button-inner {
    font-family: 'AvenirLTStd-Black';
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.item-inner {
    border-bottom: 0!important;
}
button.pull-center {
    height: 47px;
}
.profile-info .item {
    padding-left: 0;
}
.profile-info .label {
    color: gray;
    text-transform: uppercase;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: #e5e5e5;
    -webkit-box-shadow: inset 0 -1px 0 0 #e5e5e5;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
}
.card-header.card-header-md {
    background: url('../../assets/icon/all_icons/drop-down-arrow.png') #f4f4f4 90% center  no-repeat;
    color: gray;
    text-transform: uppercase;
    font-size: 14px;
}
button.btn  {
    height: 47px!important;
}
.pt-0 {
    padding-top: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-15 {
    margin-top: 15px;
}
button.disable-hover.bar-buttons.bar-buttons-md.bar-button.bar-button-md.bar-button-default.bar-button-default-md.bar-button-menutoggle.bar-button-menutoggle-md {
    position: absolute;
    z-index: 999;
}
button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
    position: absolute;
    z-index: 999;
}
.pwd-fild .item-inner {
    border-bottom: 1px solid #dedede!important;
}
// css header
.toolbar-ios-homeHeader .bar-button-clear-ios, .toolbar-ios-homeHeader .bar-button-default-ios, .toolbar-ios-homeHeader .bar-button-outline-ios, .toolbar-ios-homeHeader .toolbar-title-ios {
    color: #424242;
}
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
}
// header text overflow
// .toolbar-title {
//     overflow: inherit;
//     text-overflow: inherit;
//     white-space: inherit;
// }
/***********************************************************/
/*new css update 30th may*/
/***********************************************************/
.remember-me .checkbox-inner {
    left: 4px !important;
    top: 0px !important;
}
/*css check box*/
.checkbox-inner {
    left: 7px !important;
    top: 3px !important;
}
/*css superset label*/
.superset-marking label {
    position: inherit!important;
    top: 0!important;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
    max-width: 75px;
    text-align: center;
}
/*css profile label font size*/
.profile-info .label {
    font-size: 14px;
}
/*css datetime*/
.datetime {
    color: #535353!important;
}
.datetime-text {
    color: #535353!important;
}
.datetime-disabled {
    opacity: 9;
}
/***********************************************************/
/*new css update ios*/
/***********************************************************/
.checkbox-ios .checkbox-checked .checkbox-inner {
    left: 7px !important;
    top: 3px !important;
}
.ios .menu-inner {
    top: 15px;
}
.item-inner {
    border-bottom: 1px solid #dedede!important;
}
.border-bottom-gray {
    border-bottom: 0px solid #e5e5e5!important;
}
.title-ios {
    padding: 0!important;
}