page-notifications {
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    .card-horizontal {
        width: 350px !important;
        height: 400px !important;
        display: inline-block;
    }

    ion-scroll {
        min-height: 160px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }

    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .notification-list{
          padding-top: 10px;
        border-bottom: 1px solid #ccc;
      }

      .change-font-size{
          font-size: 20px;
      }

      .datetime {
        border: 1px solid #000;
        border-radius: 20px;
        padding: 3px 10px;
        }
        .date-text {
        padding: 0 10px;
        margin-top: 0;
        }
        .datetime-text.datetime-placeholder {
            background: url('../../assets/icon/all_icons/2019-05-22.png') right top;
            background-repeat: no-repeat;
            padding: 12px 0;
        }
}
