<ion-header>

    <ion-navbar color="gymHeader">
        <button ion-button menuToggle>
            <ion-icon name="navbar"></ion-icon>
        </button>
        <ion-title text-center>NOTIFICATION CENTER</ion-title>
    </ion-navbar>

</ion-header>


<ion-content >
    <ion-grid>
        <ion-label>Select your date range</ion-label>
        <ion-row>
            <ion-col>
                <ion-item no-lines>
                    <ion-label class="date-text" floating>Start Date</ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="startDate" (ngModelChange)="startDateChanged($event)">
                    </ion-datetime>
                   
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item no-lines>
                    <ion-label class="date-text" floating>End Date</ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="endDate" (ngModelChange)="endDateChanged($event)">
                    </ion-datetime>
                    
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- <button class="buttonMargin" ion-button full round color="danger" (click)="notificationSearch()">Search</button> -->
    </ion-grid>

    <ion-grid>
        <ion-row class="notification-list" *ngFor="let notification of  notifications">
            <ion-col col-12>
                {{notification.notificationDate | date: 'EEEE, MMMM d, y'}}
            </ion-col>
            <ion-col col-10 class="change-font-size">
                {{notification.notificationTitle}}
            </ion-col>
            <ion-col col-2>
                <button ion-button color="danger" clear icon-only (click)="deleteNotification(notification)">
                    <ion-icon name='ios-close-circle' is-active="false"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-12>
                {{notification.notificationBody}}
            </ion-col>
        </ion-row>
        <!-- <ion-row>
            {{notification.description}}
        </ion-row> -->
    </ion-grid>
</ion-content>