page-meal-plan-for-current-date {
   
        .nutrition-plan-header{
            color: black;
            font-size: 25px;
            text-align: center;
            background-color: #eeeeee;
        }
        .nutrition-card{
            //border: 2px;
            //border-style: solid;
            //border-color: black;
           // border-radius: 8px;
        }
        
        ion-label {
            margin: 0;
            display: block;
            overflow: hidden;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: x-large;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        // ion-icon {
        //     display: inline-block;
        //     font-size: 2.2em;
        // }
        
        .meal-plan-header{
            padding-left: 0;
            padding-right: 0;
            padding-top: 0px;
            padding-bottom: 0px;
            border-top: 1px solid #ededed !important;
            border-bottom: 1px solid #ededed !important;
        }
        
        .date-header{
            font-size: 18px;
            top: 0;
            
        }
        
        // css for nutrition plan
        .button-left{
            // left: -18px;
            // top: -6px;
            height: 2.1em;
            left: 0;
            top: -7px;
            //top: 0;
            // color: white;
            // background-color: white;
            //position: fixed;
            float: left;
            background: transparent;
            box-shadow: none;
        }
        
        .button-right{
            // right: -18px;
            // top: -6px;
            height: 2.1em;
            float: right;
            right: 0;
            top: -7px;
            //top: 0;
            background: transparent;
            box-shadow: none;
            //position: fixed;
        }
        
        .float-right {
            float: right;
            position: absolute;
        }
        .float-left {
            float: left;
            position: absolute;
        }
        
        .button-md-light,  .button-ios-light{
            /* color: #000; */
            color: #ff5e3a;
            //background-color: #f4f4f4;
        }
        
        .icon-nutrition{
            //font-size: 20px;
            font-size: 25px;
        }
        
        .line{
            border-bottom: 1px solid #dcdcdf;
            text-transform: capitalize;
        }
        .font-change{
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .meal-icon{
        top: 10px;
        }
        
        .segment-md-danger .segment-button {
            font-size: 14px;
            color: #535353;
            padding: 0;
        }
        
        .ion-ios-navbar,.ion-md-navbar {
            content: url('../../assets/icon/all_icons/nav-bar.png');
            width: 32px;
            height: 32px;
            padding: 6px 4px 2px;
            opacity: 0.9;
          }

          
 
}
