
<ion-tabs color="gymHeader">
    <!-- <ion-tab [root]="todaySWorkoutPage" tabTitle="Today's Workout" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="trackProgressRoot" tabTitle="Track Progress" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="myGymRoot" tabTitle="My Gym" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="viewNutritionPlanRoot" tabTitle="View Nutrition Plan" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="clubWorkoutsRoot" tabTitle="Club Workouts" tabIcon="information-circle"></ion-tab> -->

    <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" [rootParams]="todaySWorkoutParams"></ion-tab>
    <ion-tab [root]="trackProgressRoot" tabIcon="progress" tabTitle="Progress"></ion-tab>
    <ion-tab [root]="myCalenderPage" tabIcon="calendar" tabTitle="Calendar"></ion-tab>
    <!-- <ion-tab [root]="notificationsPage" tabIcon="notification" tabTitle="Notification"></ion-tab> -->
    <!-- <ion-tab [root]="myGymRoot" tabIcon="mygym"></ion-tab> -->
    <!--<ion-tab [root]="viewNutritionPlanRoot" tabIcon="nutrition" tabTitle="View Nutrition Plan"></ion-tab>-->
    <!-- <ion-tab [root]="clubWorkoutsRoot" tabIcon="club"></ion-tab> -->
</ion-tabs>
