page-hometabs {
   .ion-ios-workout,.ion-md-workout,.ion-ios-workout-outline {
        //content: url('../../assets/icon/homeTabIcon/icon1.png');
        content: url('../../assets/icon/all_icons/home-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }   

    .ion-ios-progress,.ion-md-progress,.ion-ios-progress-outline {
      // content: url('../../assets/icon/homeTabIcon/icon4.png');
      //content: url('../../assets/icon/all_icons/progress-icon.png');
      content: url('../../assets/icon/all_icons/graph-icon.png');
      width: 32px;
      height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
  }

     /* .ion-ios-progress,.ion-md-progress {
        content: url('../../assets/icon/homeTabIcon/b-track-progress.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }*/

      .ion-ios-mygym,.ion-md-mygym,.ion-ios-mygym-outline {
        content: url('../../assets/icon/homeTabIcon/c-My-gym.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-nutrition,.ion-md-nutrition,.ion-ios-nutrition-outline {
        content: url('../../assets/icon/homeTabIcon/d-view-nutrition-plan.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-club,.ion-md-club,.ion-ios-club-outline {
        content: url('../../assets/icon/homeTabIcon/e-club-workouts.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-calendar,.ion-md-calendar,.ion-ios-calendar-outline {
        //content: url('../../assets/icon/homeTabIcon/icon3.png');
        content: url('../../assets/icon/all_icons/calenda.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .ion-ios-notification,.ion-md-notification,.ion-ios-notification-outline {
        content: url('../../assets/icon/homeTabIcon/icon2.png');
        //content: url('../../assets/icon/all_icons');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }

      .tabs-md-gymHeader .tabbar {
        background-color: white;
    }

    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
      margin-top: 4px;
      margin-bottom: 0;
      color: #ff5e3a;
  }
}
