<!--
  Generated template for the TodaySWorkoutNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button class="custom-nav-icon" ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title class="header-title">FITNESS ARENA</ion-title>
    <button class="custom-notifaction-icon" ion-button (click)="goToNotificationPage()">
      <ion-icon name="header_notification-bell"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div style="padding-bottom: 2px; padding-top: 20px;">
          <img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;"
            [src]="customerImageUrl!= null ? customerImageUrl : defaultImageUrl" width="84" height="84">
          <!-- <img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;"
            src="../../assets/imgs/64-64.png" width="84" height="84" /> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="home-profile">
        Hello {{name}},
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="home">
        Let's get <span style="color: #ff5e3a">Fit!</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="border-y p-o">
    <ion-row>
      <ion-col col-6 class="border-r">
        <p class="font-20 color-gray font-roman" align="center">Your goal</p>
        <h3 class="font-black color-535353" align="center">{{customerGoal}}</h3>
      </ion-col>
      <ion-col col-6>
        <p class="font-20 color-gray font-roman" align="center">Your performance for the month</p>
        <div class="text-center-80">
          <circle-progress [percent]="performancePrecentage" [radius]="40" [outerStrokeWidth]="3" [innerStrokeWidth]="3"
            [space]="-3" [outerStrokeColor]="'#ff5e3a'" [innerStrokeColor]="'#ccc'" [animation]="true"
            [animationDuration]="300" [showSubtitle]="false" [showInnerStroke]="true" [renderOnClick] = "true" [lazy]="false">
          </circle-progress>
          
          <span style="font-size: 7px;">{{performanceName}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-grid class="p-0">
    <div>
      <ion-segment [(ngModel)]="selectedSegment" color="danger" >
        <ion-segment-button value="0" (click)="selectTab(0)">
          Workouts
        </ion-segment-button>

        <ion-segment-button value="1" (click)="selectTab(1)">
          Meal Plan
        </ion-segment-button>
        <ion-segment-button value="2" (click)="selectTab(2)">
          Club Workouts
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- <div class="workout-box"> -->
      <ion-slides #swipedTabsSlider (ionSlideWillChange)="moveButton($event)">
        <ion-slide>
          <ion-list class="card-background-page workouts">
            <ion-card *ngFor="let workout of WorkoutPlanCountList" (click)="goToWorkoutDetailPage(workout)">
              <img [src]="workout.workoutImg" height="150" />
              <ion-grid class="card-title">
                <ion-row>
                  <ion-col class="top-0" col-12>
                    {{workout.scheduleDate | date:'EEEE, d MMMM'}}
                  </ion-col>
                </ion-row>

              </ion-grid>

              <div class="card-subtitle">

                <ion-grid>
                  <ion-row>
                    <ion-col class="grid-font-change-workout font-roman" col-10>Total Number of Workouts</ion-col>
                    <ion-col class="grid-font-change-workout font-black" col-2>{{workout.totalWorkoutPlan}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="grid-font-change-workout font-roman" col-10>Workouts completed</ion-col>
                    <ion-col class="grid-font-change-workout font-black" col-2>{{workout.completedWorkoutPlan}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="grid-font-change-workout" col-10></ion-col>
                    <ion-col class="grid-font-change-workout-progressbar font-roman" col-2>
                      {{workout.completionPercentage }}%</ion-col>
                  </ion-row>
                  <progress-bar [progress]="workout.completionPercentage"></progress-bar>
                  <!-- <progress-bar [progress]="workout.completionPercentage" [color-degraded]="{'0': '#ff5e3a',  '30': '#2169ad', '50': '#20d18b'}">
                    </progress-bar> -->
                </ion-grid>
              </div>
            </ion-card>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list class="card-background-page workouts">
            <ion-card *ngFor="let mealCount of ScheduleDateWiseMealount"
              (click)="goToNutritionDetailPage(mealCount.scheduleDate)">
              <img src="../../assets/imgs/breakfastImg.jpg" height="150" />
              <ion-grid class="card-title">
                <ion-row>
                  <ion-col class="top-0" col-12>
                    {{mealCount.scheduleDate | date:'EEEE, d MMMM'}}
                    <!-- {{mealCount.scheduleDate | date:'EEEE, d MMMM'}} -->
                  </ion-col>
                </ion-row>
                <!-- <ion-row>
                <ion-col col-12 class="date">
                  {{date | date:'d MMMM'}}
                </ion-col>
              </ion-row> -->
              </ion-grid>
              <div class="card-subtitle-nutrition">
                <ion-grid>
                  <ion-row>
                    <ion-col class="grid-font-change-nutrition" col-8></ion-col>
                    <ion-col class="grid-font-change-nutrition" col-4>Total Meal: {{mealCount.mealCount}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-card>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <ion-list class="club-workouts">
            <ion-card class="card-shape-change" *ngFor="let topPicks of clubWorkoutPlanList" >
              <!-- <img class="center" [src]="topPicks.img" /> -->
              <ion-card-content class="club-workout-view-more">
                <ion-grid (click)="gotoTopPicksDetails(topPicks)">
                    <ion-card-title class="club-workout-title" >
                        {{topPicks.workoutName}}
                      </ion-card-title>
                      <p class="club-workout-description">
                        {{topPicks.workoutDesc | summary}}
                      </p>
                </ion-grid>
               <ion-grid>
                <span (click)="openViewMoreModal({topPicks: topPicks})">View more 
                <ion-icon class="view-more-icon" name="ios-arrow-down"></ion-icon></span>
               </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-slide>

      </ion-slides>

    <!-- </div> -->

  </ion-grid>


  <ion-fab  right bottom >
    <button ion-fab style="color:white; background-color: #ff5e3a" mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="goToTodaysWorkoutPage()"><ion-icon name="menu_workouts"></ion-icon></button>
      <button ion-fab (click)="goToProgressPage()"><ion-icon name="menu_progress"></ion-icon></button>
      <button ion-fab (click)="goToTodaysNutritionPage()"><ion-icon name="menu_nutrition"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <!-- <ion-fab right bottom>
    <button ion-fab style="color:white; background-color: #ff5e3a" (click)="goToProgressPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->



</ion-content>