<!--
  Generated template for the MoreInfoAboutExercisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar color="gymHeader">
    <ion-row>
      <ion-col col-10 class="p-0">
        <ion-title style="font-size: 10px;text-align:left">
          {{category == undefined ? 'EXERCISE DETAILS': category.exerciseName }}</ion-title>
        <ion-title text-center>{{category.exerciseName}}</ion-title>
      </ion-col>
      <ion-col col-2>
        <button clear ion-button (click)="goToExerciseDetailsNextPage(category)">
          <ion-icon class="information-icon" name="information"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>-->

<ion-header>
  <ion-navbar color="gymHeader">
    <ion-toolbar>
      <ion-title>{{category == undefined ? 'EXERCISE DETAILS': category.exerciseName }}</ion-title>
    </ion-toolbar>

    <button class="info-button" clear ion-button (click)="goToExerciseDetailsNextPage(category)">
      <ion-icon class="information-icon" name="information"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding color="gymContent">
  <ion-grid  *ngIf = "isPresentExerciseData">
    <ion-row>
      <ion-col>
      <img [src]="imgLinkString!= null ? imgLinkString : defaultImageUrl" (click)="OpenBrowser()"/>
        <!--<iframe width="100%" height="315" [src]="imgLinkString" frameborder="0" allowfullscreen></iframe>-->
        <!-- <iframe width="100%" height="315" [src]="embedLink ? embedLink : null"
          (load)="embedLink ? handleIFrameLoadEvent() : null" frameborder="0" allowfullscreen></iframe> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf = "!isPresentExerciseData">
    <ion-row>
      <ion-col>
        <img [src]="defaultImageUrl" width="100%" height="315">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid class="pb-10">
    <ion-row style="border: solid thin gray; padding-top: 10px;">
      <ion-col col-4 class="font-weight-bold" *ngFor="let ex of category.param.ParamValue">
        {{ex}}
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="pb-10" *ngIf="isPresentExerciseParam1">
    <ion-row style="border: solid thin gray; padding-top: 10px;">
      <ion-col col-4 class="font-weight-bold">
        {{dateWiseExerciseDetailObj.exerciseParam1 }}
      </ion-col>
      <ion-col col-4 class="font-weight-bold">
        {{dateWiseExerciseDetailObj.exerciseParam2 }}
      </ion-col>
      <ion-col col-4 class="font-weight-bold">
        {{dateWiseExerciseDetailObj.exerciseParam3 }}
      </ion-col>
    </ion-row>

    <ion-row style="border: solid thin gray">
      <ion-col col-4 class="font-weight-bold" *ngFor="let ex of paramData">
        {{ex}}
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>