page-today-s-workout {
  .divCalendar {
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    //padding-top: 80px;
}
.workout-card{
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}


.ion-date{
  text-align: left;
  font-size: 20px;
  background-color: #eeeeee;
}

.workouts-nav{
  background-color: #eeeeee;
}
    /*[col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      .currentDate, .otherDate {
        padding: 5px;
      }
      .currentDate {
        font-weight: bold;
        background-color: red;
        color: white;
        border-radius: 30px;
      }
      .calendar-header {
        background-color: #1a732d;
        color: #FFFFFF;
      }
      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: green;
        border-radius: 30px;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        padding-bottom: 30px;
        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #1a732d;
          background-color: #26ab56;
        }
        .calendar-date {
          border-top: solid 1px #1a732d;
          border-bottom: solid 1px #1a732d;
        }
      }*/
}
