page-pay-now {
    table { 
      //padding-top: 20px;
        width: 100%; 
        border-collapse: collapse; 
      }
      /* Zebra striping */
      tr:nth-of-type(odd) { 
        background: #eee; 
      }
      th { 
        background: #f4f4f4; 
        color: black; 
        font-weight: bold; 
      }
      td, th { 
        padding: 6px; 
        //border: 1px solid #ccc; 
        text-align: left; 
      }
     
}
