<!--
  Generated template for the PayNowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>PAYMENT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid style="padding-top: 20px;">
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Package Cost</th>
        <!-- <th>Discount</th> -->
      </tr>
      <tr>
        <td style="text-align: center;">{{selectedPackage.serviceName}}</td>
        <td style="text-align: center;">{{selectedPackage.serviceDesc}}</td>
        <td style="text-align: center;">{{selectedPackage.serviceDuration}}</td>
        <td style="text-align: center;">₹ {{selectedPackage.serviceCost}}</td>
        <!-- <td style="text-align: center;">₹ {{selectedPackage.maxDiscount}}</td> -->
      </tr>
      <!-- <tr>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;">Discount</td>
        <td style="text-align: center;">₹ {{selectedPackage.maxDiscount}}</td>
      </tr> -->
      <tr>
        <td style="text-align: center;"></td>
        <td style="text-align: center;"></td>
        <td style="text-align: center;">Net Payable</td>
        <td style="text-align: center;">₹ {{netPayable}}</td>
      </tr>
    </table>
  </ion-grid>

  <ion-grid padding class="px-15">
    <button class="buttonMargin cRadius btn mt-0" ion-button full style="background-color:#ff5e3a"
      (click)="goToPaymentPage()">PAY NOW</button>
  </ion-grid>
</ion-content>