page-slides {
    .tutorial-page {

        .toolbar-background {
          background: #fff;
          border-color: transparent;
        }
      
        .slide-zoom {
          height: 100%;
        }
      
        .slide-title {
         // margin-top: 2.8rem;
        }
      
        .slide-image {
          max-height: 100%;
          max-width: 100%;
          width: 100%;
         
          //margin: 18px 0;
        }
      
        // .slide1{
        //   background-image: url('../../assets/imgs/SliderOne.png');
        //   max-height: 100%;
        //   max-width: 50%;
        // }
      
        .slider-inner-content {
          position: absolute;
          z-index: 999;
          bottom: 25%;
          padding: 0 25px;
          color: #fff;
      }
      .slide-zoom {
        position: relative;
    }
    .slider-inner-content ion-label {
      white-space: inherit;
    }
    button.pull-left {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff;
    }
    button.pull-right {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #fff;
    }

    button.pull-center {
      position: absolute;
      bottom: -75px;
      z-index: 999;
      width: 85%;
      border-radius: 50px;
  }
  .slider-inner-content .label {
    margin: 0;
  }

  .slide-image {
    height: 100%;
}
      
      }

span.button-inner {
  font-family: 'AvenirLTStd-Black';
}
}
